body{
  background: #F8FBF6;
  font-family: 'Carrois Gothic', sans-serif;
}

/* Estrutura */

.estrutura{
  width: 920px;
  padding: 1em;
  min-height: 940px;
  border-radius: 6px;
  margin: 0 auto 0 auto;
  -webkit-border-radius: 6px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px #cecece;
  -moz-box-shadow:    0px 0px 10px #cecece;
  box-shadow:         0px 0px 10px #cecece;
}

/*Menu da esquerda*/

.menuEsquerda{
  float: left;
  width: 220px;
  margin-right: 20px;
}

.menu{
  padding: 0;
  margin-left: 1.5em;
  list-style-image: url(https://treinaweb-cursos.s3.amazonaws.com/prod/5/arquivos/seta.png);
}

.menu a:link,
.menu a:visited{
  display: block;
  color: #9EAE4D;
  text-decoration: none;
  padding: 0.15em 0 0.15em 0;
  border-top: 1px solid #cecece;
}

.menu a:hover{
  background-color: #F5FFE0;
}

/*Artigo*/

.artigo{
  float:left;
  width: 440px;
}

.artigo p{
  margin-bottom: 0.5em;
}

.artigo h2{
  border: 0;
}

.artigo h1{
  margin-bottom: 0.5em;
}

.preparo li{
  margin-bottom: 0.8em;
  border-bottom: dashed 1px #cecece;
}

/*Menu da direita*/

.menuDireita{
  float:right;
  width: 220px;
}

/* Títulos */

h1,
h2{
  margin: 0;
  font-size: 1.3em;
  padding: 0 0 0.2em 0;
}

.tituloDestaque{
  padding: 0.2em;
  color: white;
  border-radius: 4px;
  background: rgb(164,179,87);
  background: -o-linear-gradient(top,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%);
  background: -ms-linear-gradient(top,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%);
  background: -moz-linear-gradient(top,  rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
  background: linear-gradient(to bottom,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%);
}

/* Links */

a:link,
a:visited {
  color: #829521;
}

a:hover{
  text-decoration: none;
}

/*Rodape*/

.rodape{
  clear: both;
  display: grid;
  padding: 0.5em;
  font-size: 0.9em;
  text-align: center;
  border-top: solid 8px #7E911B;
}